<!DOCTYPE html>
<html>
  <head>
    <title>Monguidedurefugie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div>
        <%= link_to image_tag('logo.png'), root_path %>
      </div>
      <% if !current_page?(controller: 'application', action: 'index') %>
        <div class="header-links">
          <%= link_to 'RECHERCHER', root_path %>
          <%= link_to 'MON PROFIL', root_path %>
          <%= link_to 'FRANÇAIS', root_path %>
        </div>
      <% end %>
    </header>

    <%= yield %>

    <footer>
      <ul>
        <li><%= link_to 'leguidedurefugie.com', home_path %></li>
        <li>télécherger le guide</li>
        <li>tutoriel</li>
        <li>contact</li>
      </ul>
    </footer>

  </body>
</html>
