<!DOCTYPE html>
<html>
  <head>
    <title>Monguidedurefugie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <section>
      <div>
        <%= image_tag('logo.png') %>
      </div>
    </section>

    <%= yield %>

    <footer>
      <ul>
        <li>leguidedurefugie.com</li>
        <li>télécherger le guide</li>
        <li>tutoriel</li>
        <li>contact</li>
      </ul>
    </footer>

  </body>
</html>
