<!DOCTYPE html>
<html>
  <head>
    <title>Monguidedurefugie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <header>
      <div>
        <%= link_to image_tag('logo.png'), root_path %>
      </div>
      <div class="header-links">
        <%= link_to 'RECHERCHER', root_path %>
        <% if user_signed_in? %>
          <%= link_to 'MON PROFIL',  edit_user_registration_path %>
          <%= link_to 'DECONNEXION', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'CONNEXION', new_user_session_path %>
        <% end %>
        <!-- <%= link_to 'FRANÇAIS', root_path %> -->
      </div>
    </header>

    <section class="container">
      <%= yield %>
    </section>

    <footer>
      <div class="bar"></div>
      <ul>
        <a href="http://leguidedurefugie.com/"><li>leguidedurefugie.com</li></a>
        <%= link_to asset_path("guide.pdf") do %>
          <li>télécharger le guide</li>
        <% end %>
        <li>tutoriel</li>
        <li>contact</li>
      </ul>
    </footer>

  </body>
</html>
